<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
   <testsuites>
      <testsuite name="Messier.Date Test Suite">
         <directory suffix="Test.php">./tests/</directory>
      </testsuite>
   </testsuites>

   <filter>
      <whitelist>
         <directory>./src</directory>
         <exclude>
            <!--<directory>./.idea</directory>
            <directory>./tests</directory>
            <directory>./vendor</directory>-->
         </exclude>
      </whitelist>
   </filter>
</phpunit>